<div class="background">
    <div *ngFor="let item of gridItems" class="grid-item"></div>
 <div class="login-container">
    <h1 class="login-title">Perfil de Usuario</h1>
    
    <form class="login-form">
        <div class="form-group">
            <label for="username">Nombre:</label>
            <input type="text" id="username" name="username" class="form-control login-input" [(ngModel)]="nombre">
        </div>
        <div class="form-group">
            <label for="username">Apellido:</label>
            <input type="text" id="username" name="username" class="form-control login-input" [(ngModel)]="apellido">
        </div>
        <div class="form-group">
            <label for="username">Correo electrónico:</label>
            <input type="email" id="username" name="username" class="form-control login-input" [(ngModel)]="email">
        </div>
        <div class="form-group">
            <label for="username">Teléfono:</label>
            <input type="tel" id="username" name="username" class="form-control login-input" [(ngModel)]="telefono">
        </div>
        <div class="form-group">
            <label for="username">Dirección:</label>
            <input type="text" id="username" name="username" class="form-control login-input" [(ngModel)]="direccion">
        </div>

        <div class="registration-buttons">
            <button type="submit" class="btn btn-secondary login-button" (click)="guardarCambios()">Guardar Cambios</button>
        </div>
      </form>
</div>
</div>
