<div class="background">
    <div *ngFor="let item of gridItems" class="grid-item"></div>
 <div class="login-container">  
        <h1 class="login-title">Inscripción al Curso</h1>
        <form class="login-form">
            <div class="form-group">
                <label for="username">Nombre del Curso:</label>
                <input type="text" id="username" name="username" class="form-control login-input" [(ngModel)]="nombreCurso">
            </div>
            <div class="form-group">
                <label for="username">Nivel:</label>
                <select id="username" name="username" class="form-control login-input" [(ngModel)]="nivel">
                    <option value="basico">Básico</option>
                    <option value="intermedio">Intermedio</option>
                    <option value="avanzado">Avanzado</option>
                </select>
            </div>
            <div class="form-group">
                <label for="username">Fecha de Inicio:</label>
                <input type="date" id="username" name="username" class="form-control login-input" [(ngModel)]="fechaInicio">
            </div>
            <div class="form-group">
                <label for="username">Duración (en semanas):</label>
                <input type="number" id="username" name="username" class="form-control login-input" [(ngModel)]="duracion">
            </div>
                   </form>
        <div class="registration-buttons">
            <button (click)="inscribirse()" class="btn btn-secondary login-button">Inscribirse</button>
        </div>
    </div>
</div>