<div class="background">
    <div *ngFor="let item of gridItems" class="grid-item"></div>
 <div class="login-container">
    <h1 class="login-title">Perfil de Usuario</h1>
        <form>
            <div class="login-form">
                <label for="username">Nombre del curso:</label>
                <input type="text" id="username" name="username" class="form-control login-input"
                    [(ngModel)]="nombreCurso">
            </div>
            <div class="login-form">
                <label for="username">Nivel del curso:</label>
                <select id="username" name="username" class="form-control login-input" [(ngModel)]="nivel">
                    <option value="Principiante">Principiante</option>
                    <option value="Intermedio">Intermedio</option>
                    <option value="Avanzado">Avanzado</option>
                </select>
            </div>
            <div class="login-form">
                <label for="comentario">Comentario:</label>
                <textarea id="comentario" name="comentario" class="form-control" rows="4"
                    [(ngModel)]="comentario"></textarea>
            </div>
            <div class="login-form">
                <label for="calificacion">Calificación:</label>
                <input type="number" id="calificacion" name="calificacion" class="form-control login-input"
                    [(ngModel)]="calificacion" min="0" max="10">
            </div>
            <div class="registration-buttons">
                <button (click)="enviarEvaluacion()" class="btn btn-secondary login-button">Enviar Evaluación</button>
            </div>
        </form>
    </div>
</div>