<!-- plataforma.component.html -->

<div class="background">
  <div *ngFor="let item of gridItems" class="grid-item"></div>
</div>

<div class="login-container">
  <div class="plataforma-container">
    <h2>Bienvenido a la Plataforma</h2>

    <form class="login-form">
      <div class="registration-buttons">
        <button type="button" class="btn btn-secondary login-button" (click)="navigateToPerfilUsuario()">
          <i class="fas fa-user"></i> Perfil de Usuario
        </button>
        <button type="button" class="btn btn-secondary login-button" (click)="navigateToInscripcionCurso()">
          <i class="fas fa-book-open"></i> Inscripción en Curso
        </button>
        <button type="button" class="btn btn-secondary login-button" (click)="navigateToEvaluacionCurso()">
          <i class="fas fa-star"></i> Evaluación de Curso
        </button>
        <button type="button" class="btn btn-secondary login-button" (click)="navigateToCreacionContenido()">
          <i class="fas fa-edit"></i> Creación de Contenido Educativo
        </button>
        <button type="button" class="btn btn-secondary login-button" (click)="navigateToSoporteTecnico()">
          <i class="fas fa-headset"></i> Soporte Técnico
        </button>
      </div>
    </form>
  </div>
</div>

<button type="button" class="btn btn-primary login-button" (click)="cerrarSesion()">Cerrar Sesión</button>
